.input-normal,
.input-grande {
    box-sizing: border-box;
}

@media (max-width: 600px) {

    .responsive-image img {
        max-width: 40px;
    }

    .box-contacte {
        height: 620px;
        background-position: center;
    }

    h1 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    body {
        font-size: 18px;
    }

    #contactForm {
        width: 70%;
        max-width: none;
        margin: 30px auto;
        gap: 12px;
        padding: 0 15px;
    }

    .input-normal {
        height: 40px;
        font-size: 14px;
    }

    .input-grande {
        height: 100px;
        font-size: 14px;
    }

    .contacte-button {
        height: 40px;
        font-size: 14px;
    }

    .box-contacte p {
        font-size: 16px;
        padding: 0 30px;
    }

    footer p {
        font-size: 12px;
    }
}