@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-prussian-blue: #0F172A;
    --color-deep-space-blue: #1E293B;
    --color-platinum: #F1F5F9;
    --color-cool-steel: #94A3B8;
    --color-blue-violet: #7C3AED;
    --color-sky-aqua: #22D3EE;
    --color-amber-gold: #FBBF24;
    --color-charcoal-blue: #334155;
}

.font-lilita{
    font-family: Lilita One;
}

.font-montserrat{
    font-family: Montserrat;
}

body{
    margin: 0;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--color-platinum);
    background-color: var(--color-deep-space-blue);
}

h1{
    font-family: Lilita One;
    font-size: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-platinum);
}

h2{
    font-family: Lilita One;
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--color-platinum);
}

h3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: var(--color-amber-gold);
}

h4{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-cool-steel);
}

hr{
    height: 5px;
    background-color: var(--color-cool-steel);
}

a{
    color: var(--color-blue-violet);
    text-decoration: none;
}


/* Navigation bar */
nav{
    background-color: var(--color-prussian-blue);
    height: 80px;
    align-content: center;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

.menu{
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    
}

li{
    cursor: pointer;
}

.clear-list{
    list-style-type: none;
}

.center-flex-items{
    display: flex;
    align-items: center;
}


/* Image border */
.border-radius{
    border-radius: 18px;
}


/* Margins and Paddings */
.margin-left-10pc{
    margin-left: 10%;
}
.margin-right-10pc{
    margin-right: 10%;
}

.margin-top-5pc{
    margin-top: 5%;
}

.padding-20px{
    padding: 20px;
}

.padding-40px{
    padding: 40px;
}

.padding-5pc{
    padding: 5%;
}

.padding-2pc{
    padding: 2%;
}

.padding-20pc{
    padding: 10%;
}

/* Gap */
.gap-5pc{
    gap: 5%;
}

.gap-20pc{
    gap: 20%;
}

.gap-30px{
    gap: 30px;
}


/* Flexbox */
.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-content-center{
    align-content: center;
}


/* Grid */


/* Text */
.text-align-center{
    text-align: center;
}

.text-align-justify{
    text-align: justify;
}

/* Blog.html */
.blog-image-size{
    width: 256px;
    height: 256px;
    object-fit: cover;
}
.blog-text-size{
    font-size: 14px;
}

/* Color */
.bg-color-platinum{
    background-color: var(--color-platinum);
}
.text-black{
    color: black;
}

/* Index.html */
.participants::before{
    content:"0 " ;
    color: var(--color-blue-violet);
}

.ubicacio::before{
    content:"0 " ;
    color: var(--color-blue-violet);
}

.progress-bar{
    width: 100%;
    max-width: 600px;
    height: 14px;
    background-color: #312d5e;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    width: 40%;
    height: 100%;
    background: var(--color-blue-violet);
}

.index-patrocinadors{
    height: 100px;
    background-color: var(--color-charcoal-blue);
}

.en-que-consisteix{
    background-color: var(--color-deep-space-blue);
    background-image: url(../images/EnQueConsisteix.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.horari{
    background-image: url(../images/Horari.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.ubicacio-image-size{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.normativa{
    background-image: url(../images/Normativa2.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.index-jocs-presentats{
    background-color: var(--color-blue-violet);
    color: var(--color-platinum);
    padding: 1%;
    border-style: none;
    border-radius: 18px;
    width: 25%;
    height: 10%;
    cursor: pointer;
}

.index-jocs-presentats:hover{
    background-color: var(--color-blue-violet);
    opacity: 0.6;
}

.moneda-image-size{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.derechos{
    background-color: var(--color-charcoal-blue);
}