@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-prussian-blue: #0F172A;
    --color-deep-space-blue: #1E293B;
    --color-platinum: #F1F5F9;
    --color-cool-steel: #94A3B8;
    --color-blue-violet: #7C3AED;
    --color-sky-aqua: #22D3EE;
    --color-amber-gold: #FBBF24;
    --color-charcoal-blue: #334155;
}

.font-lilita{
    font-family: Lilita One;
}

.font-montserrat{
    font-family: Montserrat;
}

body{
    margin: 0;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--color-platinum);
    background-color: var(--color-deep-space-blue);
}

h1{
    font-family: Lilita One;
    font-size: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-platinum);
}

h2{
    font-family: Lilita One;
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--color-platinum);
}

h3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: var(--color-amber-gold);
}

h4{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-cool-steel);
}

hr{
    height: 5px;
    background-color: var(--color-charcoal-blue);
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    color: var(--color-blue-violet);
    text-decoration: none;
}

img{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
}


/* Navigation bar */
nav{
    background-color: var(--color-prussian-blue);
    height: 80px;
    align-content: center;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

.menu{
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    
}

li{
    cursor: pointer;
}

.clear-list{
    list-style-type: none;
}

.center-flex-items{
    display: flex;
    align-items: center;
}


/* Border */
.border-radius{
    border-radius: 18px;
}

/* Image */


/* Display */
.hide{
    display: none;
}


/* Margins and Paddings */
.margin-top-0px{
    margin-top: 0px;
}
.margin-left-10pc{
    margin-left: 10%;
}
.margin-right-10pc{
    margin-right: 10%;
}
.margin-left-20pc{
    margin-left: 20%;
}
.margin-right-20pc{
    margin-right: 20%;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-bottom-10px{
    margin-bottom: 10px;
}
.margin-top-30px{
    margin-top: 30px;
}
.padding-20px{
    padding: 20px;
}
.padding-left-20px{
    padding-left: 20px;
}
.padding-right-20px{
    padding-right: 20px;
}
.padding-left-10px{
    padding-left: 10px;
}


/* Gap */
.gap-5pc{
    gap: 5%;
}
.gap-30px{
    gap: 30px;
}
.gap-10px{
    gap: 10px;
}
.gap-20px{
    gap: 20px;
}

/* Width and Height */
.width-100pc{
    width: 100%;
}

/* Flexbox */
.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.align-items-flex-end{
    align-items: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}


/* Grid */


/* Text */
.enfasis-texto{
    color: var(--color-sky-aqua);
    font-weight: bold;
}
.text-align-center{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.font-size-60px{
    font-size: 60px;
}


/* Blog.html */
.blog-image-size{
    width: 256px;
    height: 256px;
    object-fit: cover;
}
.blog-text-size{
    font-size: 14px;
}

/* Classificacio.html */
.podios{
    width: 100%;
}
.contenedor-podios{
    width: 25%;
}
.podio1{
    height: 400px;
}
.podio2{
    height: 300px;
}
.podio3{
    height: 200px;
}
.clean-dropdown{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--color-platinum);
    margin-top: 20px;
    margin-bottom: 20px;
}
.clean-dropdown option{
    background-color: var(--color-prussian-blue);
    font-size: 15px;
}
.podio-number{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
}
.name-points{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Color */
.bg-color-platinum{
    background-color: var(--color-platinum);
}
.text-black{
    color: black;
}
.bg-color-charcoal-blue{
    background-color: var(--color-charcoal-blue);
}
.bg-color-deep-space-blue{
    background-color: var(--color-deep-space-blue);
}
.bg-color-blue-violet{
    background-color: var(--color-blue-violet);
}
.bg-color-amber-gold{
    background-color: var(--color-amber-gold);
}

/* jocs.html */
.jocs-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.joc-card{
    background-color: var(--color-charcoal-blue);
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.joc-video{
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.joc-info{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.joc-img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.joc-text h3{
    margin: 0;
}

.joc-text p{
    margin: 0;
    font-size: 16px;
    color: var(--color-cool-steel);
}

.joc-author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-icon{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.arrow{
    background-color: var(--color-blue-violet);
    border: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #1e293b;
    font-size: 24px;
    cursor: pointer;
}

.arrow:hover{
    opacity: 0.5;
}