@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-prussian-blue: #0F172A;
    --color-deep-space-blue: #1E293B;
    --color-platinum: #F1F5F9;
    --color-cool-steel: #94A3B8;
    --color-blue-violet: #7C3AED;
    --color-sky-aqua: #22D3EE;
    --color-amber-gold: #FBBF24;
    --color-charcoal-blue: #334155;
}

.font-lilita{
    font-family: Lilita One;
}

.font-montserrat{
    font-family: Montserrat;
}

body{
    margin: 0;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--color-platinum);
    background-color: var(--color-deep-space-blue);
}

h1{
    font-family: Lilita One;
    font-size: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-platinum);
}

h2{
    font-family: Lilita One;
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--color-platinum);
}

h3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: var(--color-amber-gold);
}

h4{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-cool-steel);
}

hr{
    height: 5px;
    background-color: var(--color-charcoal-blue);
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    color: var(--color-blue-violet);
    text-decoration: none;
}

img{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
}


/* Navigation bar */
nav{
    background-color: var(--color-prussian-blue);
    height: 80px;
    align-content: center;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

.menu{
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    
}

li{
    cursor: pointer;
}

.clear-list{
    list-style-type: none;
}

.center-flex-items{
    display: flex;
    align-items: center;
}


/* Border */
.border-radius{
    border-radius: 18px;
}

/* Image */


/* Display */
.hide{
    display: none;
}


/* Width and Height */
.width-80pc{
    width: 80%;
}
.width-100pc{
    width: 100%;
}


/* Margins and Paddings */
.margin-top-0px{
    margin-top: 0px;
}
.margin-left-10pc{
    margin-left: 10%;
}
.margin-right-10pc{
    margin-right: 10%;
}
.margin-left-20pc{
    margin-left: 20%;
}
.margin-right-20pc{
    margin-right: 20%;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-bottom-10px{
    margin-bottom: 10px;
}
.margin-top-30px{
    margin-top: 30px;
}

.margin-top-5pc{
    margin-top: 5%;
}

.padding-20px{
    padding: 20px;
}
.padding-left-20px{
    padding-left: 20px;
}
.padding-right-20px{
    padding-right: 20px;
}
.padding-left-10px{
    padding-left: 10px;
}
.padding-left-15pc{
    padding-left: 15%;
}
.padding-right-15pc{
    padding-right: 15%;
}


.padding-40px{
    padding: 40px;
}

.padding-5pc{
    padding: 5%;
}

.padding-2pc{
    padding: 2%;
}

.padding-20pc{
    padding: 10%;
}

.width-100pc{
    width: 100%;
}

/* Gap */
.gap-5pc{
    gap: 5%;
}

.gap-20pc{
    gap: 20%;
}

.gap-30px{
    gap: 30px;
}
.gap-10px{
    gap: 10px;
}
.gap-20px{
    gap: 20px;
}

/* Width and Height */
.width-100pc{
    width: 100%;
}

/* Flexbox */
.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.align-items-flex-end{
    align-items: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-flex-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.align-content-center{
    align-content: center;
}


/* Grid */
.grid{
    display: grid;
}

/* Text */
.enfasis-texto{
    color: var(--color-sky-aqua);
    font-weight: bold;
}
.text-align-center{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.font-size-60px{
    font-size: 60px;
}
.underline:hover{
    text-decoration: underline;
}
.cursor-pointer{
    cursor: pointer;
}
.line-height-2{
    line-height: 2;
}


/* Blog.html */
.blog-image-size{
    width: 256px;
    height: 256px;
    object-fit: cover;
}
.popup-image-size{
    width: 100%;
    object-fit: cover;
}
.blog-text-size{
    font-size: 14px;
}
.popup{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.popup-content{
    min-height: 100vh;
    width: 100%;
}
.close-popup{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 50%;
    background: var(--color-cool-steel);
    
    border: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
}
.close-popup:hover{
    background: var(--color-amber-gold);
    transition: background-color 0.25s, transform 0.5s, ease-out 0.5s;
    transform: scale(1.05);
}


/* Classificacio.html */
.podios{
    width: 100%;
}
.contenedor-podios{
    width: 25%;
}
.podio1{
    height: 400px;
}
.podio2{
    height: 300px;
}
.podio3{
    height: 200px;
}
.clean-dropdown{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--color-platinum);
    margin-top: 20px;
    margin-bottom: 20px;
}
.clean-dropdown option{
    background-color: var(--color-prussian-blue);
    font-size: 15px;
}
.podio-number{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
}
.name-points{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Classificacio2.html */
.custom-grid{
    /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
.podio1-2{
    height: 300px;
}
.podio2-2{
    height: 250px;
}
.podio3-2{
    height: 200px;
}

/* Contacte.html */
.media-underline{
    text-decoration: underline;
    color: var(--color-blue-violet);
}


.box-contacte {
    width: 100%;
    height: 700px;
    background-image: url(/images/Contacte.webp);
    background-size: cover;
    position: relative;
}


.box-contacte::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}


.box-contacte > * {
    position: relative;
    z-index: 1;
}


.form-container {
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.input-normal {
    width: 382px;
    height: 40px;
    padding: 8px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid white;
    border-radius: 6px;
    outline: none;
}


.input-grande {
    width: 382px;
    height: 120px;
    padding: 8px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid white;
    border-radius: 6px;
    resize: none;
    outline: none;
}


::placeholder {
    color: white;
    opacity: 0.8;
}


.contacte-button {
    width: 100%;
    height: 40px;
    background-color: var(--color-amber-gold);
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.contacte-button:hover {
    background-color: var(--color-blue-violet);
    color: white;
}


/* Color */
.bg-color-platinum{
    background-color: var(--color-platinum);
}
.text-black{
    color: black;
}
.text-platinum{
    color: var(--color-platinum);
}
.bg-color-charcoal-blue{
    background-color: var(--color-charcoal-blue);
}
.bg-color-deep-space-blue{
    background-color: var(--color-deep-space-blue);
}
.bg-color-blue-violet{
    background-color: var(--color-blue-violet);
}
.bg-color-amber-gold{
    background-color: var(--color-amber-gold);
}

/* Index.html */
.participants::before{
    content:"0 " ;
    color: var(--color-blue-violet);
}

.ubicacio::before{
    content:"0 " ;
    color: var(--color-blue-violet);
}

.progress-bar{
    width: 100%;
    max-width: 600px;
    height: 14px;
    background-color: #312d5e;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    width: 40%;
    height: 100%;
    background: var(--color-blue-violet);
}

.index-patrocinadors{
    height: 100px;
    background-color: var(--color-charcoal-blue);
}

.en-que-consisteix{
    background-color: var(--color-deep-space-blue);
    background-image: url(../images/EnQueConsisteix.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.horari{
    background-image: url(../images/Horari.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.ubicacio-image-size{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.normativa{
    background-image: url(../images/Normativa2.webp);
    background-size: cover;
    background-color: rgb(15, 23, 42, 0.6);
    background-blend-mode: darken;
}

.moneda-image-size{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.slidecontainer {
    width: 20%;
}

.slider {
    -webkit-appearance:none;
    width: 100%;
    height: 25px;
    background: var(--color-cool-steel);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}

.index-jocs-presentats{
    background-color: var(--color-blue-violet);
    color: var(--color-platinum);
    padding: 1%;
    border-style: none;
    border-radius: 18px;
    width: 25%;
    height: 10%;
    cursor: pointer;
}

.index-jocs-presentats:hover{
    background-color: var(--color-blue-violet);
    opacity: 0.6;
}



.derechos{
    background-color: var(--color-charcoal-blue);
}